@font-face {
  font-family: 'header-font';
  src: url('../fonts/Header.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'primary-font';
  src: url('../fonts/Sansation_Light.ttf');
  font-weight: 400;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
}
.flex-column {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
body {
  margin: 0;
  font-family: 'primary-font', 'Helvetica', 'Arial', 'sans-serif';
}
.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
  color: white;
  font-size: 17vw;
  font-family: 'header-font', 'Helvetica', 'Arial', 'sans-serif';
  width: 300px;
  margin: 0 auto;
}
.clearfix {
  overflow: auto;
}
.splash {
  color: #D4D4D4;
}
div.header {
  margin-top: 10px;
  font-size: 7vw;
}
.sub-header {
  text-align: center;
  font-size: 5vw;
}
.phone .phone-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
}
.phone .phone-container .phone-svg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('../img/iphone.svg');
}
.section {
  background-color: white;
  height: 200px;
  position: relative;
  padding: 20px 0;
  color: #505050;
}
.section.downloads {
  height: auto;
}
.download-button {
  width: 30%;
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  margin: 0 10px;
}
.qelfin-top {
  position: absolute;
  top: 0;
  right: 0;
  height: 22vh;
  width: 48vw;
  background-color: transparent;
  overflow: hidden;
}
.qelfin-top .qelfin-svg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -ms-transform: rotate(195deg);
  -webkit-transform: rotate(195deg);
  transform: rotate(195deg);
  background-image: url('../img/qelfin-top.svg');
  position: relative;
  left: 5vh;
  top: -5vh;
}
@media screen and (min-width: 320px) {
  .app-title,
  .header,
  .sub-header {
    width: 320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: -webkit-flex;
  }
  .splash {
    height: 90vh;
  }
  .splash .phone {
    height: calc(90vh - 17vh - 20vh - 10px);
    width: calc(90vh / 1.15 - 17vh / 1.15 - 20vh / 1.15 - 10px / 1.15);
    margin: 20vh auto 0 auto;
  }
  .splash .sub-container.title {
    height: calc(17vh - 50px);
    margin-top: 60px;
  }
  .section-text {
    margin-top: 10px;
  }
  .section-image {
    width: 270px;
    margin: 0 auto;
    height: 20vh;
    background-color: #505050;
  }
  .footer {
    padding: 20px;
    text-align: center;
    color: white;
  }
  .footer .x-margin {
    margin: 0 5px;
  }
  .footer a {
    text-decoration: none;
    color: white;
  }
  .footer a:hover {
    cursor: pointer;
  }
}
/*Default Ipad Screen*/
.splash {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#947dd5+0,5839ae+98 */
  background: #947dd5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #947dd5 0%, #5839ae 98%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #947dd5 0%, #5839ae 98%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #947dd5 0%, #5839ae 98%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#947dd5', endColorstr='#5839ae', GradientType=0);
  /* IE6-9 */
}
.footer {
  background: #947dd5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5839ae 0%, #947dd5 98%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #5839ae 0%, #947dd5 98%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #5839ae 0%, #947dd5 98%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5839ae', endColorstr='#947dd5', GradientType=0);
  /* IE6-9 */
}

.section.vote {
  display: flex;
  flex: 1;
  padding: 0;
  height: 80vh;
}

.layer-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.layer {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.vote-divider {
  flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('../img/output--voting-divider.svg');
}

.grid {
  display: -webkit-flex;
  display: flex;
}

.grid > .cell {
  flex: 1;
  margin: 0;
}

.grid > .cell.fourth {
  flex: 0 0 35%;
}

.cell.large-height {
  flex: 0 0 60vh;
}

.grid.vertical {
  -webkit-flex-direction: row;
  flex-direction: column;
}

.grid > .cell.half {
}

.grid.justify-center {
  justify-content: center;
}

.grid.justify-apart {
  justify-content: space-between;
}

.svg--qelfin-beard {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('../img/output--qelf-beard.svg');
}

.square {
  content: '';
  padding-bottom: 100%;
}

@media screen and (min-width: 38em) {
  .cell.large-screen.half {
    flex: 0 0 80%;
  }
}