@primary-color: #3E18BD;
@off-white: #D4D4D4;
@off-black: #505050;
.flex {
  display: -webkit-flex;
  display: flex;
}
.flex-center {
  .flex();
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.flex-column {
  .flex();
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.flex-grow(@growth: 0) {
  flex-grow: @growth;
  -webkit-flex-grow: @growth;
}
.background-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.rotate(@rotation: 0px) {
  -ms-transform: rotate(@rotation);
  -webkit-transform: rotate(@rotation);
  transform: rotate(@rotation);
}
