@primary-color: #3E18BD;
@off-white: #D4D4D4;
@off-black: #505050;
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
}
.flex-column {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.rotate(@rotation: 0px) {
  -ms-transform: rotate(@rotation);
  -webkit-transform: rotate(@rotation);
  transform: rotate(@rotation);
}
